main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 92px 150px;
  align-items: center;
  justify-content: center;
}

main > section > img {
  display: block;
  margin: 10px auto 200px auto;
}

/* CARDS SECTIONS */

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  width: 361px;
  height: 386px;
  background: #ffffff;
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px 49px;
  margin: 5px;
}

.card > img {
  display: block;
  margin: auto auto;
}
.card > h4 {
  /* width: 182px; */
  text-align: center;
  margin: auto auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.card > p {
  max-width: 260px;
  margin: auto auto;
}

main > p {
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #4d4d4d;
  margin: 24px auto 84px auto;
}

/* SERVICES SECTION */
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  width: 253px;
  margin-top: 20px;
  height: 297px;
  align-items: center;
}

.service > div {
  display: block;
  background: #ffffff ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto auto;
  box-shadow: 0px 16px 39px rgba(117, 77, 232, 0.15);
  border-radius: 20px;
  width: 253px;
  height: 143px;
}

.service > .title {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
}
.service > hr {
  width: 80px;
  color: #754de8;
  border: 2px solid #754de8;
  border-radius: 5px;
}

.service .desc {}