body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150.4%;
  color: #323232;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 170%;
  color: #7E1CFE;
  text-align: center;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  color: #7E1CFE;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}

.primary-color {
  color:  #7E1CFE;
}

button {
  cursor: pointer;
}

/* MEDIA QUERIES */
@media screen and (max-width:480px) {
  
h1 {
  font-size: 30px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 12px;
}
}